


.head{
	background-color:white; 
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15rem;
	border-bottom: 1px solid black;
}


.head img{
	width: 100px;
}

.head .input{
	position: relative;
}

.head .input input{
	padding:8px;
	border: none;
	border: 1px solid black;
	width: 180px;
	border-radius: 5%;
	outline: none;
}
.head .input label{
	position: absolute;
	left: 23%;
	top: 20%;
	user-select: none;
	pointer-events: none;
	transition: 200ms all;
	color: rgba(0,0,0,0.6);
}
.head .input label i{
	margin-right: 0;
}

.head .input input:focus + label{
	left: 5%;
}
.head .input input:valid +label{
	opacity: 0;
}

.head .icon i{
	margin-left: 0.5rem;
}
